<div fxLayout="row">
  <div fxFlex.xs="100">
    <img [src]="recipe.imageUrl" alt="" style="max-height: auto; max-width: 300px;">
  </div>
</div>
<div fxLayout="row">
  <div fxFlex.xs="100">
    <h1 class="headline">{{ recipe.name }}</h1>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex.xs="100" fxLayoutAlign="end">
    <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
      Manage Recipe
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="after">
      <button mat-menu-item (click)="onAddToShoppingList()">Add To Shopping List</button>
      <button mat-menu-item>Edit Recipe</button>
      <button mat-menu-item>Delete Recipe</button>
    </mat-menu>
  </div>
</div>
<div fxLayout="row" style="padding-left: 16px;">
  <div fxFlex.xs="100">
    <p class="body-1" style="font-family: 'Open Sans', 'Helvetica Neue', 'sans-serif'">{{ recipe.description }}</p>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex.xs="100">
    <mat-list>
      <mat-list-item *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} - {{ ingredient.count }}</mat-list-item>
    </mat-list>
  </div>
</div>
