@import "~@angular/material/_theming";

@include mat-core();

// Define custom theme
$app-primary: mat-palette($mat-deep-orange, 500);
$app-accent: mat-palette($mat-lime, 500);
$app-warn: mat-palette($mat-pink, 500);
$app-background: mat-palette($mat-deep-orange, 50);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

// Define custom typography
$app-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", "sans-serif"'
);

@include angular-material-typography($app-typography);
